@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  color: #14171a;
  font-size: 10px;
  font-family: "Pretendard", sans-serif;
}

html,
body, .App {
  height: 100%;
}

a {
  text-decoration: none;
}

.gnb {
  height: 8rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #ffffff;
}
.gnb .nav {
  height: inherit;
  padding: 0 4rem;
  box-shadow: 0.3rem 0.2rem 0.4rem 0.1rem rgba(160, 160, 160, 0.3);
  border-bottom: 1px solid #f1f1f1;
}
.gnb .nav .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gnb .nav .container-fluid .navbar-brand {
  font-size: 4rem;
  font-family: "Amaranth", sans-serif;
}
.gnb .nav .container-fluid .navbar-items {
  display: flex;
  align-items: center;
}
.gnb .nav .container-fluid .navbar-items .nav-item {
  margin-right: 2.4rem;
  font-family: "Amaranth", sans-serif;
  font-size: 2rem;
  color: #14171a;
}
.gnb .nav .container-fluid .navbar-items .nav-item:hover {
  color: #4abcfc;
}
.gnb .nav .container-fluid .navbar-items .connect-wallet-img {
  max-width: 4rem;
  max-height: 4rem;
}
.gnb .nav .container-fluid .navbar-items .connect-wallet-btn {
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
}
.gnb .nav .container-fluid .navbar-items .connect-wallet-btn:hover {
  background-color: #00a2ff;
  border: 1px solid #4abcfc;
}

.tokenlist {
  padding: 40px;
}
.tokenlist .explore-title {
  font-size: 4.8rem;
  margin-bottom: 2rem;
  font-family: "Amaranth", sans-serif;
}
.tokenlist .explore-description {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  font-family: "Amaranth", sans-serif;
}
.tokenlist .erc721List {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.8rem;
}
.tokenlist .erc721List .erc721token {
  background-color: #ffffff;
  box-shadow: 0 0.4rem 0.8rem 0.4rem rgba(235, 235, 235, 0.4);
  border-radius: 0.4rem;
  border: 1px solid rgba(220, 220, 220, 0.4);
}
.tokenlist .erc721List .erc721token .token-item {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
}
.tokenlist .erc721List .erc721token .token-item img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  max-height: 24rem;
  margin-bottom: 0.8rem;
}
.tokenlist .erc721List .erc721token .token-item .name {
  font-size: 2.4rem;
}
.tokenlist .erc721List .erc721token .token-item .symbol {
  font-size: 2rem;
}
.tokenlist .erc721List .erc721token .token-item .nft {
  font-size: 1.6rem;
}

.loading-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7176470588);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-text {
  font: 1rem "Noto Sans KR";
  text-align: center;
}

.Create {
  padding: 40px;
}
.Create .create-header {
  margin: 0;
}
.Create .create-header .create-header-title {
  font-size: 4.8rem;
  margin-bottom: 2rem;
  font-family: "Amaranth", sans-serif;
}
.Create .create-header .create-description {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}
.Create .create-contents {
  max-width: 144rem;
  background-color: #f9f9f9;
  padding: 4rem;
  align-items: center;
}
.Create .create-contents .create-inner-area {
  box-shadow: 0 0.4rem 0.8rem 0.4rem rgba(245, 245, 245, 0.8);
  border-radius: 1.6rem;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #ffffff;
  padding: 4rem;
  margin-bottom: 2rem;
}
.Create .create-contents .create-inner-area .create-item-img {
  max-width: 48rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
.Create .create-contents .create-inner-area .create-item-img .create-upload-file {
  font-size: 2rem;
}
.Create .create-contents .create-inner-area .create-item-img .create-upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 32rem;
  cursor: pointer;
}
.Create .create-contents .create-inner-area .create-item-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Create .create-contents .create-inner-area .create-item-info .create-input-label {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}
.Create .create-contents .create-inner-area .create-item-info .create-form-name {
  font-size: 2rem;
  line-height: 4rem;
  padding: 0.4rem 0.8rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  border: 1px solid #a1a1a1;
}
.Create .create-contents .create-btns {
  margin: 0;
}
.Create .create-contents .create-btns .create-btn {
  font-size: 2rem;
  padding: 1.2rem 4rem;
  margin: 0;
  margin-right: 1.6rem;
}
.Create .create-contents .create-btns .create-btn:first-child {
  font-weight: 700;
}
.Create .create-contents .create-btns .create-btn:first-child:hover {
  background-color: #00a2ff;
  border: 1px solid #00a2ff;
  color: #ffffff;
}
.Create .create-contents .create-btns .create-btn:last-child {
  font-weight: 400;
}
.Create .create-contents .create-btns .create-btn:last-child:hover {
  background-color: #e9e9e9;
  border: 1px solid #e9e9e9;
  color: #14171a;
}

.token-detail-page {
  display: flex;
  padding: 8rem 4rem 8rem 4rem;
  width: 136rem;
  margin: auto;
  gap: 2.4rem;
}
.token-detail-page .tokenDetailThumb {
  width: 68rem;
  height: 68rem;
  object-fit: cover;
}
.token-detail-page .tokenInfoArea {
  min-width: 30rem;
}
.token-detail-page .tokenInfoArea .tokenName {
  font-size: 4rem;
  font-family: "Pretendard", sans-serif;
  font-weight: 800;
}
.token-detail-page .tokenInfoArea .tokenSymbol {
  font-size: 2.4rem;
}
.token-detail-page .tokenInfoArea .tokenDescArea {
  margin-bottom: 3.2rem;
}
.token-detail-page .tokenInfoArea .tokenDescArea .tokenDesc {
  font-size: 2.4rem;
}
.token-detail-page .tokenInfoArea .tokenDescArea .tokenDescBody {
  font-size: 1.7rem;
  line-height: 2.8rem;
}
.token-detail-page .tokenInfoArea .detail-btn {
  display: block;
  width: 100%;
  background-color: #1DA1F2;
  border: none;
  padding: 1.6rem;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 0.4rem;
  margin-bottom: 0.8rem;
}
.token-detail-page .tokenInfoArea .buyNFT:hover {
  background-color: #6dc4f9;
}
.token-detail-page .tokenInfoArea .goToList {
  background-color: #ffffff;
  color: #14171a;
  border: 1px solid #a1a1a1;
  font-weight: 400;
}
.token-detail-page .tokenInfoArea .goToList:hover {
  background-color: #f1f1f1;
}
.token-detail-page .tokenInfoArea .NotForSale {
  background-color: #f1f1f1;
  color: #14171a;
  border: 1px solid #999;
  font-weight: 400;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  overflow: hidden;
}
.home-container .home-title-section {
  padding: 8rem 0;
}
.home-container .home-title-section .home-title-area {
  margin-bottom: 1.6rem;
}
.home-container .home-title-section .home-title-area .home-title {
  font-size: 4.8rem;
  font-family: "Amaranth", sans-serif;
  margin-bottom: 2.4rem;
}
.home-container .home-title-section .home-title-area .home-description {
  font-size: 2.8rem;
  font-weight: 200;
  font-family: "Pretendard", sans-serif;
  line-height: 4rem;
  margin-bottom: 3.2rem;
}
.home-container .home-title-section .home-btn-area .home-btn {
  font-size: 1.8rem;
  padding: 1.2rem 4rem;
  margin-right: 0.8rem;
  border-radius: 0.6rem;
  font-family: "Amaranth", sans-serif;
}
.home-container .home-title-section .home-btn-area .go-to-explore {
  background-color: #1DA1F2;
  border: 1px solid #1DA1F2;
  color: #ffffff;
  font-weight: 400;
}
.home-container .home-title-section .home-btn-area .go-to-explore:hover {
  background-color: #49adeb;
}
.home-container .home-title-section .home-btn-area .go-to-create {
  background-color: #ffffff;
  border: 1px solid #a1a1a1;
}
.home-container .home-title-section .home-btn-area .go-to-create:hover {
  transition: 0.3s;
  box-shadow: 0 0 0.2rem 0.1rem rgba(50, 50, 50, 0.2);
}
.home-container .home-title-image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.home-container .home-title-image .image-item {
  min-height: 32rem;
  object-fit: cover;
}

.site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.6rem;
  background-color: #ffffff;
  width: 100%;
}
.site-footer .site-footer-text {
  color: #000;
  font-size: 1.6rem;
  margin-bottom: 0;
}

.profile-header {
  padding: 4rem;
}
.profile-header .profile-header-1 {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.profile-header .profile-header-1 .profile-header-title {
  font-size: 4.8rem;
  font-family: "Amaranth", sans-serif;
  margin-right: 2rem;
}
.profile-header .profile-header-1 .logout-btn {
  height: 4.8rem;
  width: 12rem;
  background-color: #ffffff;
  border: 1px solid tomato;
  font-size: 1.6rem;
  color: tomato;
  border-radius: 0.4rem;
}
.profile-header .profile-header-1 .logout-btn:hover {
  background-color: tomato;
  color: #ffffff;
}
.profile-header .profile-header-2 {
  display: flex;
  align-items: center;
}
.profile-header .profile-header-2 .profile-header-2-image {
  width: 2rem;
  margin-right: 0.8rem;
}
.profile-header .profile-header-2 .account-address {
  font-size: 2rem;
  margin: 0;
}

.profile-contents {
  padding: 0 4rem;
}
.profile-contents .profile-item-header {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 6rem;
  margin-bottom: 4rem;
}
.profile-contents .profile-items {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2rem;
}
.profile-contents .profile-items .MyTokenList {
  overflow: hidden;
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 0.4rem 0.1rem rgba(160, 160, 160, 0.1);
}
.profile-contents .profile-items .MyTokenList .card {
  background-color: #ffffff;
  padding: 0.8rem;
  border: none;
}
.profile-contents .profile-items .MyTokenList .card .card-body .card-title {
  font-size: 2rem;
  margin-bottom: 0.8rem;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px dotted #e1e1e1;
  padding: 1.6rem 0;
}
.profile-contents .profile-items .MyTokenList .card .card-body .card-text {
  font-size: 1.6rem;
  padding-top: 0.4rem;
  display: flex;
  align-items: cetner;
}
.profile-contents .profile-items .MyTokenList .card .card-body .card-text .card-text-icon {
  width: 1.2rem;
  margin-right: 0.8rem;
}
.profile-contents .profile-items .MyTokenList .card .card-body .card-text .card-token-price {
  font-size: 1.6rem;
  margin: 0;
}