.create-header {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    width: 100%;
}
.create-item {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: left;
}
.create-item-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.create-btns {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.create-btn {
    margin-left: 1rem;
    margin-right: 1rem;
}
.btn-create {
    background-color: #4ABCFC;
    color: #FFFFFF;
}
.btn-cancel {
    background-color: #E1E1E1;
    color: #14171A;
}
.validation-content {
    margin-top: 1rem;
    display: none;
}
.validation-text {
    color:#E45635;
}

.file-area {
}
.file-area-label {
    display: block;
}
.file-area-input {
    margin: .4rem 0;
}
.hidden {
    display: none;
}

/* loading animation */
